@(title: String, userName: String, userAvatarOption: Option[String],
        searchForm: Form[SearchData])(content: Html)(implicit messages: Messages)
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
    <head>
        <title>@Messages("appName") - @title</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")" type="text/css" media="all" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/star-rating-svg.css")" type="text/css" media="all" />

        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.0.0.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.star-rating-svg.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.jcarousel.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jQuery.dotdotdot.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.color.js")"></script>
        <script type="text/javascript" src="@routes.BookPageController.javascriptRoutes()"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/functions.js")"></script>
    </head>
    <body>
            <!-- Header -->
        <div id="header" class="shell">
            <div id="logo"><h1><a href="/">BestSeller</a></h1> <span><a href="#">book recommender system</a></span></div>
                <!-- Navigation -->
            <div id="navigation">
                <ul>
                    <li><a href="@routes.Application.index()">Home</a></li>
                    <li><a href="#">Books</a></li>
                    <li><a href="@routes.Application.recommendations()">Recommendations</a></li>
                    <li><a href="@routes.Application.profileInfo()">Profile</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
                <!-- End Navigation -->
            <div class="cl">&nbsp;</div>
                <!-- Login-details -->
            <div id="login-details">
                @if(userName == "Guest") {
                    <p>Welcome, Guest .</p>
                    @*<div id="user-name" value="Guest">*@
                } else {
                    <p>Welcome, <a href="@routes.Application.profileInfo()" id="user">@userName</a> .</p>
                }
                @userAvatarOption.map { case url =>
                <p><img src="@url" width="40px" height="40px"/></p>
                <p><a class="btn" href="@securesocial.controllers.routes.LoginPage.logout()">Logout</a></p>
                }
            </div>

@*            <div id="search-container">
                <div id="search-main">
                @helper.form(action = routes.SearchController.submitSearch, 'id -> "searchForm") {
                    <fieldset>
                        <div class="input">
                            @text(searchForm("searchRequest"))
                            <input type="submit" id="searchSubmit" value="" />
                        </div>

                    </fieldset>
                }
                </div>
            </div>*@
            <div id="search-container">
            <div id="search-main">
                <form id="searchForm">
                    <fieldset>
                        <div class="input">
                            <input type="text" name="searchValue" id="searchValue" value="Enter your search" />
                        </div>
                        <input type="submit" id="searchSubmit" value="" formaction="/search/TITLE"/>
                    </fieldset>
                </form>
            </div>
        </div>
                <!-- End Login-details -->
        </div>
            <!-- End Header -->


        @content

            <!-- Footer -->
        <div id="footer" class="shell">
            <div class="top">
                <div class="cnt">
                    <div class="col about">
                        <h4>About ukmaLib</h4>
                        <p>This is educational project. 'ukmaLib' is e-book recommender system, which had been developed during the
                            work on P. Akhmedzianov's Master Thesis at National Univeristy of
                            Kyiv-Mohyla Academy in 2016.   </p>
                    </div>
                    <div class="col store">
                        <h4>Store</h4>
                        <ul>
                            <li><a href="@routes.Application.index()">Home</a></li>
                            <li><a href="@routes.CustomLoginController.login()">Log In</a></li>
                            <li><a href="@routes.Application.recommendations()">Recommendations</a></li>
                        </ul>
                    </div>
                    <div class="col" id="newsletter">
                        <h4>Newsletter</h4>
                        <p>Not supported yet. </p>
                        <form action="" method="post">
                            <input type="text" class="field" value="Your Name" title="Your Name" />
                            <input type="text" class="field" value="Email" title="Email" />
                            <div class="form-buttons"><input type="submit" value="Submit" class="submit-btn" /></div>
                        </form>
                    </div>
                    <div class="cl">&nbsp;</div>
                    <div class="copy">
                        <p>&copy; <a href="#">ukmaLib.com</a>
                            . Design by P.Akhmedzianov with usage of template from CSS-FREE-TEMPLATES.COM</p>
                    </div>
                </div>
            </div>
        </div>
            <!-- End Footer -->
    </body>
</html>