@(title: String, userName:String, userAvatarOption:Option[String],
        isBuildSlider:Boolean, sliderListOption: Option[List[Book]])(content: Html)(implicit messages: Messages,
        env: securesocial.core.RuntimeEnvironment)
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
    <head>
        <title>@Messages("appName") - @title</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="/assets/images/favicon.ico" />
        <link rel="stylesheet" href="/assets/stylesheets/style.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/assets/stylesheets/star-rating-svg.css" type="text/css" media="all" />


        <script type="text/javascript" src="/assets/javascripts/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="/assets/javascripts/jquery.star-rating-svg.js"></script>
        <script type="text/javascript" src="/assets/javascripts/jquery.jcarousel.min.js"></script>
        <script type="text/javascript" src="/assets/javascripts/jQuery.dotdotdot.min.js"></script>

        <script type="text/javascript" src="@routes.BookPageController.javascriptRoutes()"></script>
            <!--[if IE 6]>
		<script type="text/javascript" src="/assets/javascripts/png-fix.js"></script>
	<![endif]-->
        <script type="text/javascript" src="/assets/javascripts/functions.js"></script>
    </head>
    <body>
            <!-- Header -->
        <div id="header" class="shell">
            <div id="logo"><h1><a href="/">BestSeller</a></h1> <span><a href="#">book recommender system</a></span></div>
                <!-- Navigation -->
            <div id="navigation">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="/recommendations">Recommendations</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
                <!-- End Navigation -->
            <div class="cl">&nbsp;</div>
                <!-- Login-details -->
            <div id="login-details">
                @if(userName == "Guest"){
                    <p>Welcome, Guest .</p>
                    @*<div id="user-name" value="Guest">*@
                } else{
                    <p>Welcome, <a href="/profile" id="user">@userName</a> .</p>
                }
                @userAvatarOption.map { case url =>
                <p><img src="@url"  width="40px" height="40px"/></p>
                    <p><a class="btn" href="@securesocial.controllers.routes.LoginPage.logout()">Logout</a></p>
                }
            </div>
                <!-- End Login-details -->
        </div>
            <!-- End Header -->
            <!-- Slider -->
            @if(isBuildSlider && sliderListOption.isDefined){
                @views.html.elements.slider(sliderListOption.get)
            }
            <!-- End Slider -->

        <div id="main" class="shell">
        @content
        </div>
            <!-- Footer -->
        <div id="footer" class="shell">
            <div class="top">
                <div class="cnt">
                    <div class="col about">
                        <h4>About BestSellers</h4>
                        <p>Nulla porttitor pretium mattis. Mauris lorem massa, ultricies non mattis bibendum, semper ut erat. Morbi vulputate placerat ligula. Fusce <br />
                            convallis, nisl a pellentesque viverra, ipsum leo sodales sapien, vitae egestas dolor nisl eu tortor. Etiam ut elit vitae nisl tempor tincidunt. Nunc sed elementum est. Phasellus sodales viverra mauris nec dictum. Fusce a leo libero. Cras accumsan enim nec massa semper eu hendrerit nisl faucibus. Sed lectus ligula, consequat eget bibendum eu, consequat nec nisl. In sed consequat elit. Praesent nec iaculis sapien. <br />
                            Curabitur gravida pretium tincidunt.  </p>
                    </div>
                    <div class="col store">
                        <h4>Store</h4>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Special Offers</a></li>
                            <li><a href="#">Log In</a></li>
                            <li><a href="#">Account</a></li>
                            <li><a href="#">Basket</a></li>
                            <li><a href="#">Checkout</a></li>
                        </ul>
                    </div>
                    <div class="col" id="newsletter">
                        <h4>Newsletter</h4>
                        <p>Lorem ipsum dolor sit amet  consectetur. </p>
                        <form action="" method="post">
                            <input type="text" class="field" value="Your Name" title="Your Name" />
                            <input type="text" class="field" value="Email" title="Email" />
                            <div class="form-buttons"><input type="submit" value="Submit" class="submit-btn" /></div>
                        </form>
                    </div>
                    <div class="cl">&nbsp;</div>
                    <div class="copy">
                        <p>&copy; <a href="#">BestSeller.com</a>
                            . Design by <a href="http://css-free-templates.com/">CSS-FREE-TEMPLATES.COM</a></p>
                    </div>
                </div>
            </div>
        </div>
            <!-- End Footer -->
    </body>
</html>