@(userName: String, userAvatarOption: Option[String],
        flatBookList:List[Book], searchForm:Form[SearchData] )(implicit messages: Messages,
        env: securesocial.core.RuntimeEnvironment)

@main("Personal Recommendations", userName, userAvatarOption, searchForm:Form[SearchData]) {
    <div id="main" class="shell">
    <!-- Sidebar -->
    @views.html.elements.sidebar()
    <!-- End Sidebar -->
    <!-- Content -->
    <div id="content">
            <!-- Products -->
        @views.html.elements.flatBookList("Personal recommendations for you", flatBookList)
            <!-- End Products -->
        <div class="cl">&nbsp;</div>
            <!-- Best-sellers -->
        <div class="center">

        </div>
            <!-- End Best-sellers -->
    </div>
        <!-- End Content -->
    <div class="cl">&nbsp;</div>
    </div>
}